include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include confflow.yaml

recursive-include confflow *.py
recursive-include examples *.py
recursive-include tests *.py

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
